node_modules/
.expo/
dist/
*.log
.DS_Store
ios/App/Pods/
ios/App/App/public/
android/app/src/main/assets/public/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
ios/App/build/
ios/DerivedData/
